* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #020417;
    background: rgb(201,208,233);
    background: linear-gradient(243deg, rgba(201,208,233,1) 0%, rgba(203,162,226,1) 48%);
    height: 100%;
    width: 100%;
    padding: 1.5rem 0;
    letter-spacing: 1px;
}

.disabled {
    text-transform: uppercase;
    color: #919191;
    font-size: 0.7rem;
    font-weight: 500;
}

/* Main section */
.sec{
    width: 350px;
    background-color: #f2f5fd;
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}

main { 
    position: relative;
    margin: auto;
    overflow: hidden;
}

/* Tasks section*/
.tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0px;
    padding-bottom: 10px;
}

.tasks-wrapper {
    width: 100%;
    list-style: none;
}

li {
    position: relative;
    margin: 5px 0;
    background: #f4f6fd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.1);
    color: #2643c4;
    transition: 300ms ease-in-out;
}

li:hover {
    transform: scale(1.05);
}

li p {
    display: inline-block;
    text-align: left;
    font-size: 0.85rem;
}

input {
    cursor: pointer;
    margin-right: 0.4rem;
    border-radius: 50%;
}

input:checked + p {
    text-decoration: line-through;
    color: #919191;
}

.btn {
    position: absolute;
    background: #a056c5;
    text-align: center;
    color: #f4f6fd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.new-task {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.4);
    right: 15px;
    bottom: 15px;
}

.new-task i {
    border-radius: 0px;
    display: inline-block;
}

.add-task-btn {
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.4);
    right: 25px;
    bottom: 20px;
}

.add-task-btn i {
    margin-left: 5px;
}

/* Hidden new section */

.hidden {
    transform: scale(0);
}

.add-task {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #f2f5fd;
    transition: transform 300ms;
}

.complete-all {
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.4);
    left: 15px;
    bottom: 15px;
}

.add-task textarea {
    border: none;
    outline: none;
    background-color: #f2f5fd;
    font-size: 1.5rem;
    resize: none;
    width: 80%;
    height: 70%;
    margin-top: 10px;
    font-family: inherit;
}

.cancel {
    position: absolute;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

.delete {
    position: absolute;
    color: tomato;
    cursor: pointer;
    right: 13px;
    top: 13px;
    transition: all 300ms ease-in-out; 
    opacity: 0;
    transform: translateX(50px);
    pointer-events: none;
}

li:hover .delete{
    pointer-events: all;
    opacity: 1;
    transform: translateX(0);
}
